.navbar {
  height: 3.718rem;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        border-color: transparent;
        &::placeholder {
          font-size: 0.75rem;
        }
      }
    }
    .items {
      display: flex;
      align-items: center;

      .item {
          display: flex;
          align-items: center;
          margin: 1.25em;
          position: relative;

          .icon {
              font-size: 1.25rem;
          }

          .avatar {
              width: 1.9em;
              height: 1.9em;
              border-radius: 50%;
          }

          .counter {
            width: 1rem;
            height: 1rem;
            background-color: red;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .62rem;
            font-weight: bold;
            position: absolute;
            top: -5px;
            right: -5px;
          }
      }
    }
  }
}
