.sidebar {
  flex: 1;
  border-right: 0.5px solid lightgray;
  min-height: 100vh;
  background-color: white;
  .top {
    height: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 1.25rem;
      font-weight: bold;
      color: purple;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid lightgray;
  }

  .center {
    padding-left: 0.62rem;

    ul {
      list-style: none;

      .title {
        font-size: 0.62rem;
        font-weight: bold;
        color: #999;
        margin-top: 1rem;
        margin-bottom: 0.31rem;
      }

      li {
        display: flex;
        align-items: center;
        padding: 0.31rem;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 1.1rem;
          color: #7451f8;
        }

        span {
          font-size: 0.81rem;
          font-weight: 600;
          color: #888;
          margin-left: 0.62rem;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
